{% extends 'base_admin2.html.twig' %}

{% block title %}Subcategoria index{% endblock %}

{% block body %}
    <h1>Subcategoria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Directorio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subcategorium in subcategorias %}
            <tr>
                <td>{{ subcategorium.id }}</td>
                <td>{{ subcategorium.nombre }}</td>
                <td>{{ subcategorium.directorio }}</td>
                <td>
                    <a href="{{ path('app_subcategoria_show', {'id': subcategorium.id}) }}">show</a>
                    <a href="{{ path('app_subcategoria_edit', {'id': subcategorium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subcategoria_new') }}">Create new</a>
{% endblock %}
