{% block barnav %}
	<div align='center'>
		<div class="row" style="margin:auto !important; ">
			<div class="col-12 col-md-12 col-lg-12">
				<table class="table" style="background:#cbdbfc">
					<tr class='text-center'>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#cbdbfc';">
							<a href='{{ iconos["usuarios"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["usuarios"]["icon"] }}' class="icon_nav_bar">
							</a>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#cbdbfc';">
							<a href='{{ iconos["documentos"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["documentos"]["icon"] }}' class="icon_nav_bar">
							</a>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#cbdbfc';">
							<a href='{{ iconos["auditoria"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["auditoria"]["icon"] }}' class="icon_nav_bar">
							</a>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#cbdbfc';">
							<a href='{{ iconos["mejoramiento"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["mejoramiento"]["icon"] }}' class="icon_nav_bar">
							</a>
						</td>

						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#cbdbfc';">
							<a href='{{ iconos["organizacion"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["organizacion"]["icon"] }}' class="icon_nav_bar">
							</a>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#cbdbfc';">
							<a href='{{ iconos["indicadores"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["indicadores"]["icon"] }}' class="icon_nav_bar">
							</a>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#cbdbfc';">
							<a href='{{ iconos["salida"]["url"] }}' style="text-decoration:none !important">

								<img src='{{ iconos["salida"]["icon"] }}' class="icon_nav_bar">

							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
