{% block barnav %}

	<div align='center'>
		<div class="row" style="margin:auto !important; paddindg:10px !important; background:#222034">
			<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
				<table class="table">
					<tr>
						<td nmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
							<a href='{{ iconos["usuarios"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["usuarios"]["icon"] }}'></a>
						</td>
						<td nmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"><img src='{{ iconos["documentos"]["icon"] }}'></td>
						<td nmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"><img src='{{ iconos["auditoria"]["icon"] }}'></td>
						<td nmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"><img src='{{ iconos["mejoramiento"]["icon"] }}'></td>
						<td nmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"><img src='{{ iconos["organizacion"]["icon"] }}'></td>
						<td nmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"><img src='{{ iconos["indicadores"]["icon"] }}'>
						</td>
					</tr>

				</div>
				<div class="col-1 col-md-1 col-lg-1" o></div>
				<div class="col-1 col-md-1 col-lg-1" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"></div>
				<div class="col-1 col-md-1 col-lg-1" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"></div>
				<div class="col-1 col-md-1 col-lg-1" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"></div>
				<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"></div>
			</div>
		</div>
	</div>
{% endblock %}
