{% block barnav %}

	<div align='center'>
		<div class="row" style="margin:auto !important; paddindg:10px !important; background:#222034">

			<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
				<a href='{{ iconos["usuarios"]["url"] }}' style="text-decoration:none !important">
					<img src='{{ iconos["usuarios"]["icon"] }}'>
				</a>
			</div>
			<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
				<img src='{{ iconos["documentos"]["icon"] }}'>
			</div>
			<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
				<img src='{{ iconos["auditoria"]["icon"] }}'>
			</div>
			<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
				<img src='{{ iconos["mejoramiento"]["icon"] }}'>
			</div>
			<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
				<img src='{{ iconos["organizacion"]["icon"] }}'>
			</div>
			<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
				<img src='{{ iconos["indicadores"]["icon"] }}'>
			</div>
		</div>
	</div>
</div>{% endblock %}
