{% block barnav %}
	<div align='center'>
		<div class="row" style="margin:auto !important; paddindg:10px !important; background:#222034">
			<div class="col-12 col-md-12 col-lg-12">
				<table class="table">
					<tr class='text-center'>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
							<a href='{{ iconos["usuarios"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["usuarios"]["icon"] }}' style="height:24px; width:24px">
							</a>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
							<a href='{{ iconos["documentos"]["url"] }}' style="text-decoration:none !important">
								<img src='{{ iconos["documentos"]["icon"] }}'>
							</a>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
							<a href='{{ iconos["auditoria"]["url"] }}' style="text-decoration:none !important">

								<img src='{{ iconos["auditoria"]["icon"] }}'>
							</a>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"><img src='{{ iconos["mejoramiento"]["icon"] }}'></td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"><img src='{{ iconos["organizacion"]["icon"] }}'></td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';"><img src='{{ iconos["indicadores"]["icon"] }}'>
						</td>
						<td onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='#222034';">
							<a href='{{ iconos["salida"]["url"] }}' style="text-decoration:none !important">

								<img src='{{ iconos["salida"]["icon"] }}'>
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
