{% block barnav %}
	<div align='center'>
		<div class="row" style="margin:auto !important; ">
			<div class="col-12 col-md-12 col-lg-12">
				<table class="table navBarBackGround" style="spacing:0px !important; padding:0px !important">
					<tr class='text-center'>
						<td title='{{ iconos["usuarios"]["titulo"] }}'>
								<button class="btn btn-outline-primary btn-sm" title='{{ iconos["usuarios"]["titulo"] }}' onclick="document.location='{{ iconos["usuarios"]["url"] }}'"><img src='{{ iconos["usuarios"]["icon"] }}' class="icon_nav_bar"></button>
						</td>
						<td  title='{{ iconos["documentos"]["titulo"] }}'>
							<button class="btn btn-outline-primary btn-sm" title='{{ iconos["documentos"]["titulo"] }}' onclick="document.location='{{ iconos["documentos"]["url"] }}'"><img src='{{ iconos["documentos"]["icon"] }}' class="icon_nav_bar"></button>							
						</td>
						<td  title='{{ iconos["auditoria"]["titulo"] }}'>
							<button class="btn btn-outline-primary btn-sm" title='{{ iconos["auditoria"]["titulo"] }}' onclick="document.location='{{ iconos["auditoria"]["url"] }}'"><img src='{{ iconos["auditoria"]["icon"] }}' class="icon_nav_bar"></button>
						</td>
						<td title='{{ iconos["mejoramiento"]["titulo"] }}'>
							<button class="btn btn-outline-primary btn-sm" title='{{ iconos["mejoramiento"]["titulo"] }}' onclick="document.location='{{ iconos["mejoramiento"]["url"] }}'"><img src='{{ iconos["mejoramiento"]["icon"] }}' class="icon_nav_bar"></button>							
						</td>
						<td  title='{{ iconos["organizacion"]["titulo"] }}'>
							<button class="btn btn-outline-primary btn-sm" title='{{ iconos["organizacion"]["titulo"] }}' onclick="document.location='{{ iconos["organizacion"]["url"] }}'"><img src='{{ iconos["organizacion"]["icon"] }}' class="icon_nav_bar"></button>														
						</td>
						<td title='{{ iconos["indicadores"]["titulo"] }}'>
							<button class="btn btn-outline-primary btn-sm" title='{{ iconos["indicadores"]["titulo"] }}' onclick="document.location='{{ iconos["indicadores"]["url"] }}'"><img src='{{ iconos["indicadores"]["icon"] }}' class="icon_nav_bar"></button>
						</td>
						<td  title='{{ iconos["salida"]["titulo"] }}'>
							<button class="btn btn-outline-primary btn-sm" title='{{ iconos["salida"]["titulo"] }}' onclick="document.location='{{ iconos["salida"]["url"] }}'"><img src='{{ iconos["salida"]["icon"] }}' class="icon_nav_bar"></button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
