{% extends 'base_admin.html.twig' %}
{% block title %}
	{{ titlePage }}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row ">
			<div class="col-12 col-md-12 col-lg-12 text-center">
				<h2>Modulos Habilitados</h2><hr>
			</div>
		</div>
		<div align='center'>
			<div class="row" style="margin:auto !important; paddindg:10px !important">
				<div class="col-12 col-md-1 col-lg-1" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='white';">
					<a href='{{ iconos["usuarios"]["url"] }}' style="text-decoration:none !important">
						<img src='{{ iconos["usuarios"]["icon"] }}'><br>{{ iconos["usuarios"]["titulo"]  }}
					</a>
				</div>
				<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='white';">
					<img src='{{ iconos["documentos"]["icon"] }}'><br>{{ iconos["documentos"]["titulo"]  }}
				</div>
				<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='white';">
					<img src='{{ iconos["auditoria"]["icon"] }}'><br>{{ iconos["auditoria"]["titulo"]  }}
				</div>
				<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='white';">
					<img src='{{ iconos["mejoramiento"]["icon"] }}'><br>{{ iconos["mejoramiento"]["titulo"]  }}
				</div>
				<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='white';">
					<img src='{{ iconos["organizacion"]["icon"] }}'><br>{{ iconos["organizacion"]["titulo"]  }}
				</div>
				<div class="col-12 col-md-2 col-lg-2" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='white';">
					<img src='{{ iconos["indicadores"]["icon"] }}'><br>{{ iconos["indicadores"]["titulo"]  }}
				</div>
				<div class="col-12 col-md-1 col-lg-1" onmouseover="this.style.background='#f5f5f5';" onmouseout="this.style.background='white';">
					<a href='{{ iconos["salida"]["url"] }}' style="text-decoration:none !important" targe="_blank">
						<img src='{{ iconos["salida"]["icon"] }}'><br>{{ iconos["salida"]["titulo"]  }}
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
